@media all and (max-width: 992px) {
  #cards1 {
    width: 100%;
  }

  #cards2 {
    width: 100%;
  }

  #hi {
    font-size: 17px;
  }
  #Aliia {
    font-size: 18px;
  }
  #know {
    font-size: 18px;
  }

  #kira {
    font-size: 12px;
  }
}

@media all and (max-width: 768px) {
  #carouselExampleCaptions {
    width: 80%;
    height: 80%;
  }

  #html {
    width: 70%;
  }
  #hi {
    font-size: 15px;
  }
  #Aliia {
    font-size: 13px;
  }
  #know {
    font-size: 13px;
  }

  #cards1 {
    width: 100%;
  }

  #cards2 {
    width: 80%;
  }

  #anek {
    display: none;
  }

  .card-text {
    font-size: 13px;
  }
}

@media all and (max-width: 380px) {
  #carouselExampleCaptions {
    width: 80%;
    height: 80%;
  }
  #cards1 {
    width: 103%;
  }
  #cards2 {
    width: 103%;
  }
  .card-text {
    font-size: 9px;
  }
  #anek {
    display: none;
  }
  #giga {
    display: none;
  }
  #about {
    font-size: 16px;
  }
  .card-title {
    font-size: 12px;
  }

  #html {
    width: 90%;
  }
}
